.header {
  display: flex;
  padding: 25px 110px;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.header-lista {
  font-family: "MuseoModerno", cursive;
  font-weight: 400;
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
  line-height: 30px;
  margin-right: 75px;
}
